<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <title>INSTALL</title>
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        
        <link rel="stylesheet" href="/public/robotto_font/Robotto.css" />
    </head>
    <body>
        <div id="root">
            <h1>Установка - ШАГ 2</h1>

            <p>
                Логин и пароль первоначального пользователя <b>admin</b>. 
            </p>

            <p><a href="/admin">Перейти в панель управления</a></p>

            <p><a href="/">Перейти на сайт</a></p>

        </div>
    </body>
</html>