<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <title>INSTALL</title>
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        
        <link rel="stylesheet" href="/public/robotto_font/Robotto.css" />
    </head>
    <body>
        <div id="root">
            <h1>Установка - ШАГ 1</h1>

            <p>Подготовка к установке</p>


            <p>
                <b>ВНИМАНИЕ</b><br/>
                Данное ПО идёт как есть в виде исходного кода. 
                Подразумевается, что вы знакомы как можно скомпелировать проект используя Typescript и у вас установлено для этого необходимое ПО.
                Настройка и сборка проекта требует знаний языков программирования Javascript, Typescript и навыков работы в NodeJS. 
                Так же у вас уже установлена БД PostgreSQL.
            </p>

            <h2>Подготовим подключение к базе данных</h2>

            <p>В PostgreSQL необходимо создать новую чистую базу данных средствами администрирования (если не применяете обнуление для отладки).</p>

            <p>
                Необходимо в исходном коде проекта найти и изменить файл: <code>src/db/DBConnector.ts</code>.<br/>
                В этом файле необходимо изменить настройки подключения под вашу базу данных. <br/>
                Так же советую изменить ключ генерации защитных кодов <code>CRYPTO_KEY</code>. 
            </p>

            <p>
                Логин и пароль первоначального пользователя <code>admin</code> - сгенерируется на следующем шаге. 
            </p>

            <p><b>ЕСЛИ БАЗА СУЩЕСТВОВАЛА РАНЕЕ - СЛЕДУЮЩИЙ ШАГ ПЕРЕЗАГРУЗИТ БАЗУ ДАННЫХ И УНИЧТОЖИТ ПРЕДЫДУЩИЕ ТАБЛИЦЫ В НАСТРОЕННОЙ БАЗЕ</b></p>

            <a href="/install/002">СЛЕДУЮЩИЙ ШАГ</a>

        </div>
    </body>
</html>